@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: linear 0.3s;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica,'Rubik','Lato' sans-serif;
  overflow-x: hidden;
  transition: background 0.2s linear;
}

body.dark {
  background: #1c284b;
  color: #fff;
}
body.dark p,
body.dark h2,
body.dark h3{
  color: #fff;
}
body.dark .service-item:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(246, 246, 250, 0.609) 0px 7px 29px 0px;
}
body.dark .skill-item span {
  color: #fff !important;
}

body.dark .project-subtitle {
  color: #acacac !important;
}

body.dark .skill-item {
  box-shadow: rgba(178, 178, 178, 0.501) 1px 5px 5px;
}

body.dark .skill-item:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgba(178, 178, 178, 0.501) 1px 5px 5px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 10vw;
  width: 100vw;
  position: fixed;
  top: 0;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.893);
  z-index: 2;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
nav ul li a {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 30px;
  letter-spacing: 1px;
  color: black;
  padding: 5px 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

/***************     Anchor Hover Effect      *************************/

nav ul li a:hover {
  border-bottom: 2px solid rgb(82, 65, 236);
  color: rgb(82, 65, 236);
  border-radius: 5px;
}
/******** dark mode *********/

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background: linear-gradient(to top right, #257be5, #a61de6);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

/* .fa-moon {
	color: #edc420;
}

.fa-sun {
	color: #fe9e04;
} */

/************   HUMBURGER MENU   ***************************/

.humburger {
  display: none;
}

@media screen and (max-width: 950px) {
  .humburger {
    display: block;
  }
  nav {
    display: none;
  }
  #header {
    padding: 15px 3vw;
  }
  .fa-bars {
    font-size: 30px;
    color: black;
  }
  .menu_box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #257be5, #a61de6);
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 2;
    transform: translateX(-100vw);
    transition: transform 1s;
    opacity: 0;
  }
  .menu_box.open-menu {
    display: flex;
    opacity: 1;
    transform: translateX(-1vw);
    transition: transform 1s;
  }
  .menu_box a {
    margin-top: 50px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.5px;
  }
}

/********************     First Page     ************************/

#bg-gd {
  height: 100vh;
  position: absolute;
}

.main-gd {
  position: relative;
}

#first-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 10vh;
}
.first_page_content {
  padding-left: 10vw;
  padding-top: 17vh;
  background-size: contain;
  background-position: 0 50px;
  background-repeat: no-repeat;
}
.first_page_content h2 {
  font-size: 40px;
  font-family: "Rubik", sans-serif;
}
.first_page_content h1 {
  font-size: 62px;
  font-family: "Rubik", sans-serif;
  line-height: 100px;
}
/*************** Typing Text   **************/

.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
.header-sub-title {
  color: rgb(0, 0, 0);
  font-family: "Charm", cursive;
  font-size: 20px;
  padding: 0.1em;
}
#word {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  color: rgb(118, 46, 225);
  font-weight: bold;
}

/*************** Typing Text   **************/

#hire_me,
#get_cv {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}
#hire_me {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  background: linear-gradient(to left, rgb(58, 114, 255), rgb(175, 70, 255));
  padding: 15px 0;
  width: 140px;
  font-size: 14px;
  text-align: center;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 30px;
  letter-spacing: 0.5px;
  font-weight: bold;
}
#hire_me:hover {
  color: black;
  border: 2px solid rgb(94, 65, 225);
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#get_cv {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  padding: 15px 0;
  width: 140px;
  text-align: center;
  font-size: 14px;
  text-align: center;
  color: black;
  border: 2px solid rgb(94, 65, 225);
  background: white;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
  letter-spacing: 0.5px;
}
#get_cv:hover {
  background: linear-gradient(to left, rgb(57, 113, 255), rgb(168, 62, 249));
  color: white;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#gdName {
  font-size: 1.3em;
  background: -webkit-linear-gradient(#3971ff, #a83ef9);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.hello-line {
  height: 2px;
  width: 85%;
  background: linear-gradient(to left, rgb(57, 113, 255), rgb(168, 62, 249));
  margin-left: 20px;
}

/**************    RESPONSIVE   **********************************************************/
/* Home Image */
@media screen and (max-width: 1200px) {
  #home_image {
    height: 45vh;
  }
  .first_page_content {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 950px) {
  #first-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  #home_image {
    height: 80vw;
    padding: 10px 10vw;
  }

  .first_page_content {
    padding: 0 10px;
    /* background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.938),
        rgba(255, 255, 255, 0.884)
      ),
      url(bg-img.jpg) no-repeat; */
    background-size: contain;
    background-position: bottom;
  }
  .first_page_content h1 {
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    line-height: 80px;
  }
  .first_page_content h2 {
    font-size: 30px;
    font-family: "Rubik", sans-serif;
  }
  #word {
    font-size: 7vw;
    color: rgb(118, 46, 225);
    font-family: "Rubik", sans-serif;
  }
}

/* ***************************  About PAGE    **************************************************************** */

.about_heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about_img {
  height: 26vw;
  border-radius: 10px;
  box-shadow: rgba(46, 149, 240, 0.4) 5px 5px, rgba(46, 101, 240, 0.3) 10px 10px,
    rgba(46, 133, 240, 0.2) 15px 15px, rgba(46, 78, 240, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.heading-line {
  height: 4px;
  width: 100px;
  border-radius: 10px;
  margin-left: 35px;
  margin-top: 5px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
  text-align: center;
}

.about_page {
  padding: 50px 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about_content {
  width: 60%;
}
.about_content p {
  font-family: "Rubik", sans-serif;
  font-size: 17px;
  color: rgb(91, 91, 91);
  letter-spacing: 0.5px;
  line-height: 25px;
}

.education {
  margin-top: 50px;
}

.edu-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, rgb(57, 113, 255), rgb(168, 62, 249));
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.edu-circle p {
  color: white;
  font-weight: bold;
}

#edu_content {
  margin-left: 25px;
  font-size: 20px !important;
  letter-spacing: 1px;
  color: rgb(58, 58, 58);
  font-family: "Rubik", sans-serif;
}

#edu_content h3 {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: rgb(32, 102, 241);
  font-family: "Rubik", sans-serif;
}

.main-edu {
  display: flex;
  align-items: center;
}

#edu_line {
  height: 60px;
  width: 4px;
  background-color: rgb(68, 113, 248);
  position: relative;
  right: -30px;
}

@media screen and (max-width: 900px) {
  .about_heading {
    margin-top: 50px;
  }
  #about_img {
    height: 70vw;
  }

  .about_page {
    padding: 50px 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about_content {
    width: 90%;
    margin-top: 20px;
  }
  .about_content p {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: rgb(91, 91, 91);
    letter-spacing: 0.5px;
    line-height: 25px;
  }
  .edu_content {
    margin-left: 20px;
  }
  .edu_content h2 {
    color: #fff !important;
  }
  #edu_line {
    height: 50px;
    width: 4px;
    background-color: rgb(68, 113, 248);
    position: relative;
    right: -30px;
  }

  .education {
    margin-top: 50px;
  }
}

/********************      Services      ********************************************************/

.services_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  background-color: rgba(140, 190, 255, 0.1);
  margin-top: 20px;
}
.services {
  padding: 20px 10vw 100px 10vw;
  background-color: rgba(140, 190, 255, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.service-item {
  width: 265px;
  height: 210px;
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}
.service-item:hover {
  transform: scale(1.1, 1.1) !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#service_name {
  font-size: 18px;
  color: black !important;
  margin-top: 10px;
}
.service-item i {
  color: rgb(68, 79, 230);
  font-size: 35px;
}
.service-item p {
  font-family: "Rubik", sans-serif;
  color: rgb(69, 69, 69) !important;
  letter-spacing: 0.5px;
  font-size: 14.5px;
  line-height: 23px;
}

.section-heading {
  font-size: 33px;
  font-weight: bold;
  font-style: normal;
  font-family: "Patua One", cursive;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 950px) {
  .services_heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: rgba(140, 190, 255, 0.1);
    margin-top: 20px;
  }
  .services {
    padding: 0 10vw 50px 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .service-item {
    margin-top: 20px;
  }
  .service-item p {
    font-family: "Rubik", sans-serif;
    color: rgb(69, 69, 69) !important;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 23px;
  }
}

/*****************  MY SKILLS   *****************************************/
.skill_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin-top: 20px;
}
.skills {
  padding: 0 10vw 50px 10vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 40px;
  justify-content: space-evenly;
}
.skill-item {
  width: 35vw;
  border-radius: 5px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 5px 5px;
}

.skill-item:hover {
  transform: scale(1.1, 1.1) !important;
  box-shadow: rgba(95, 95, 95, 0.259) 1px 5px 5px;
}

.skill-item i {
  font-size: 20px;
}
.skill-item span {
  font-family: "Rubik", sans-serif;
  margin-left: 10px;
  font-weight: bold;
  color: rgb(39, 39, 39);
}

.html-progress-bar {
  height: 4px;
  width: 95%;
  border-radius: 10px;
  margin-top: 8px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
}

.css-progress-bar {
  height: 4px;
  width: 90%;
  border-radius: 10px;
  margin-top: 8px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
}

.bootstrap-progress-bar {
  height: 4px;
  width: 80%;
  border-radius: 10px;
  margin-top: 8px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
}

.tailwind-progress-bar {
  height: 4px;
  width: 65%;
  border-radius: 10px;
  margin-top: 8px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
}

.javascript-progress-bar {
  height: 4px;
  width: 75%;
  border-radius: 10px;
  margin-top: 8px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
}

.reactJs-progress-bar {
  height: 4px;
  width: 60%;
  border-radius: 10px;
  margin-top: 8px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
}

.php-progress-bar {
  height: 4px;
  width: 50%;
  border-radius: 10px;
  margin-top: 8px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
}

.mysql-progress-bar {
  height: 4px;
  width: 50%;
  border-radius: 10px;
  margin-top: 8px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
}

@media screen and (max-width: 950px) {
  .skills {
    padding: 0 10px 50px 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
    justify-content: space-around;
  }
  .skill-item {
    width: 45vw;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 1px;
  }
}

/*********************      Projects     **********************************/

.projects_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  margin-top: 20px;
}
.projects {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  box-shadow: 0px 1px 10px 1px rgb(214, 214, 214);
  border-radius: 15px;
}
.project-slider {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.projects button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 40px;
  color: rgb(69, 115, 255);
  padding: 30px;
}
.projects button:hover {
  cursor: pointer;
}
.projects .project-slider .slide {
  width: 100%;
  height: 100%;
  display: none;
}

.project-subtitle {
  font-size: 15px;
  line-height: 25px;
  margin-top: 10px;
  letter-spacing: 0.5px;
  color: rgb(21, 20, 20);
  font-family: "Roboto", sans-serif;
}

/**********************    Insivisual Slide   *********************/
#first_slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#project_img {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#laptop {
  width: 80%;
}
#phone {
  width: 25%;
  border-radius: 15px;
}
.project_content {
  width: 50%;
}
.project_name {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.project_des {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: rgba(89, 89, 89, 0.785);
  line-height: 25px;
  margin-top: 10px;
}
#visit-site {
  background-color: white;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: rgb(114, 75, 255);
  border: 1px solid rgb(114, 75, 255);
  border-radius: 30px;
  padding: 15px 20px;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
#visit-site:hover {
  background-color: rgb(97, 75, 243);
  color: aliceblue;
}

@media screen and (max-width: 950px) {
  #first_slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
  }
  #project_img {
    width: 80%;
  }
  #laptop {
    width: 80%;
  }
  #phone {
    width: 25%;
    border-radius: 15px;
  }
  .project_content {
    width: 100%;
  }
  .project_des {
    font-family: "Rubik", sans-serif;
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  #first_slide {
    padding: 30px 15px;
  }
  .projects button {
    font-size: 30px;
    color: rgb(114, 87, 245);
    padding: 5px;
  }
  .projects {
    width: 90%;
    height: 550px;
  }
  #project_img {
    width: 100%;
  }
  #phone {
    border-radius: 8px;
  }
  .project_content {
    width: 100%;
    text-align: center;
  }
}

/*********************  Contact Me   ************************************************/

.contact {
  margin-top: 50px;
  padding: 50px 10vw;
  background-color: rgba(140, 190, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact .connect_me {
  text-align: center;
  width: 50%;
}
.contact .contact_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: 20px;
}
#connect {
  background-color: rgb(108, 86, 247);
  font-size: 13.5px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(121, 87, 243);
  border-radius: 30px;
  padding: 15px 20px;
  letter-spacing: 1px;
  margin-top: 20px;
}
#connect:hover {
  background-color: white;
  color: rgb(127, 94, 249);
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .contact {
    margin-top: 50px;
    padding: 20px 5vw 5vw 50px;
    background-color: rgba(140, 190, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .contact .connect_me {
    text-align: center;
    width: 100%;
  }
  .contact .social_media {
    width: 100%;
    margin-top: 10px;
  }
}

/*********************  Contact  Form   ************************************************/

#contact_form {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.425);
  display: none;
  align-items: center;
  justify-content: center;
}
#contact_form form {
  width: 600px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.947);
  border-radius: 10px;
  box-shadow: rgba(53, 53, 107, 0.374) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 30px 50px;
  text-align: center;
  position: relative;
}
#contact_form form #close {
  position: absolute;
  color: black;
  right: 15px;
  top: 15px;
  font-size: 22px;
}
#contact_form form #close:hover {
  cursor: pointer;
}
#contact_form form h2 {
  font-family: "Rubik", sans-serif;
  margin-bottom: 15px;
}
#contact_form form input,
#message {
  font-family: "Rubik", sans-serif;
  background-color: rgba(180, 176, 176, 0.279);
  padding: 13px 15px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 7px;
  width: 100%;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.219) 2.4px 2.4px 3.2px;
}
#contact_form form #submit {
  width: 100%;
  padding: 13px 15px;
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
  color: aliceblue;
  font-size: 16px;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 7px;
}

@media screen and (max-width: 950px) {
  #contact_form {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.425);
    display: none;
    align-items: center;
    justify-content: center;
  }
  #contact_form form {
    width: 335px;
    height: 480px;
    padding: 15px 15px;
  }
}

/*********************  Contact Form   ************************************************/

/*********************  Contact Me   ************************************************/

.copy_right {
  background: linear-gradient(
    to top left,
    rgb(37, 123, 229),
    rgb(166, 29, 230)
  );
  text-align: center;
  padding: 10px;
}
.copy_right p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  letter-spacing: 0.5px;
}

.icons {
  display: flex;
}
.icons a {
  margin: 0 2px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  margin: 50px;
}
.icons a .layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}

.icons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}
.icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all 0.3s;
}
.icons a .layer span.fab {
  font-size: 30px;
  line-height: 55px;
  text-align: center;
}
.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}
.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.icons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}
.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
  color: #0077b5;
}
.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text {
  color: #000000;
}
.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text {
  color: #c13584;
}

.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text {
  color: #25d366;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text {
  color: #0757f7;
}

.icons a:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #0077b5;
}
.icons a:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #000000;
}

.icons a:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #c13584;
}

.icons a:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #25d366;
}

.icons a:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #0757f7;
}

.icons a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icons a:hover .text {
  bottom: -25px;
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .icons a {
    margin: 20px;
  }
}

@media screen and (max-width: 500px) {
  .icons a {
    margin: 10px;
  }
  .icons {
    margin-top: 30px;
  }
}

@media screen and (max-width: 400px) {
  .icons a .layer {
    width: 35px;
    height: 35px;
    transition: transform 0.3s;
  }
  .icons a .layer span.fab {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
  }
  .icons a {
    margin: 10px;
  }
}

@media screen and (max-width: 300px) {
  .icons {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}


/* ************************ */

.weather-title {
  position: absolute;
  top: 5%;
  left: 45%;
  font-family: 'Rubik', sans-serif !important;
  font-weight: 400;
}

.love-with {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333 !important;
}

.footer {
  position: relative;
  text-align: center;
  background: linear-gradient(
    to top left,
    rgba(37, 123, 229, 0.917),
    rgba(166, 29, 230, 0.842)
  );
  color: white;
}

.inner-header {
  height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* /* Shrinking for mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/* weather */

.search-bar {
  width: 450px;
  height: 5vh;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  right: 50%;
  translate: -50%;
}

.submit {
  margin: 0;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  transition: 0.4s;
}

.search {
  background: none;
  border: none;
  padding: 10px;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  color: #ccc;
}

.weather-box {
  width: 450px;
  height: 45vh;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  position: absolute;
  top: 25%;
}

.weather-details {
  position: relative;
  transition: 500ms;
  opacity: 1;
  font-family: 'Rubik', sans-serif;
  top: 2%;
  text-align: center;
}

.temp{
  font-size: 66px;
  margin-top: 10px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif !important;
}

#cityName {
  font-size: 50px;
  font-weight: 300;
  padding-bottom: 5px;
}

.city-time {
  padding: 20px;
}

.city-time small {
  font-size: 20px;
  padding: 5px;
}

.weather-deep-details {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  column-gap: 10px;
  position: absolute;
  top: 80%;
}

.weather-deep-details div {
  width: 10vw;
  height: 10vh;
  background: rgba(110, 110, 110, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  display: block;
  font-family: 'Rubik', sans-serif !important;
  padding-top: 5px;
}

.weather-deep-details-box:hover{
  transform: scale(1.1, 1.1) !important;
  box-shadow: rgba(211, 211, 227, 0.2) 0px 7px 29px 0px;
}

/************* responsive ************** */

@media screen and (max-width: 810px) {
  .inner-header {
    height: 90vh;
  }
  .weather-deep-details {
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
  }
  .weather-deep-details div {
    width: 15vw;
    height: 10vh;
  }
}

@media screen and (max-width: 550px) {
  .weather-deep-details {
    display: none;
  }
  .weather-box {
    width: 350px;
    height: 50vh;
    
  }
  .search-bar {
    width: 350px;
    height: 5vh;
  }
}
@media screen and (max-width: 370px) {
  .weather-box {
    width: 300px;
    height: 50vh;
    
  }
  .search-bar {
    width: 300px;
    height: 5vh;
  }
}